<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626711514947-rp1o50cka4a8hhmqoa2fr5dqehnubm9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626711514947-rp1o50cka4a8hhmqoa2fr5dqehnubm9q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>626711514947-3v97bm0e3cqq4q51cggrn0eptind23cq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0jhVYOTfQtyhgcegIh_BQ07wFWBobCZA</string>
	<key>GCM_SENDER_ID</key>
	<string>626711514947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.odontobb.athome</string>
	<key>PROJECT_ID</key>
	<string>odontobbapp</string>
	<key>STORAGE_BUCKET</key>
	<string>odontobbapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626711514947:ios:b99c93a812d0f96c2fe9f6</string>
	<key>DATABASE_URL</key>
	<string>https://odontobbapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>